h2 {
    color: chocolate;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

body {
    align-items: center;
    background-color: rgb(27, 25, 25);
    height: 98vh;
    justify-content: center;
}