/* Error: "Invalido amount"
 *    ,
 * 53 |             background-color: mycolor.invert(gmodulo.$primary, -50%);//provocando o erro !
 *    |                               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss/style.scss 53:31  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: "Invalido amount"\a    \2577 \a 53 \2502              background-color: mycolor.invert(gmodulo.$primary, -50%);//provocando o erro !\a    \2502                                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss/style.scss 53:31  root stylesheet';
}
