$raio-padrao: 10px;

@mixin arredondado($raio: $raio-padrao) {
    //@warn "Deprecated";
    @debug "O valor de Raio é: " + $raio;//A mensagem aparecerá no terminal.
    border-radius: $raio;
}
@mixin circulo {
    border-radius: 50%;
}