/* chamada do seletor nativo do SASS */
@use "sass:selector";//faz parte da biblioteca interna do SASS.

@mixin  field ($child){
    @at-root #{selector.unify(&, $child)} {//blodo de abstração.
        padding: 10px;
        border: 2px solid rgb(223, 223, 223);
        background-color: #fff;
        color:rgb(184, 184, 184);
        margin: 10px;
    }
}
/* Construção em Flexbox */
.wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        .field {
            @include field ("input");
            @include field ("select");
    }
    h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:chocolate;
    }
}