@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: 400;
  color: #123ecf;
}
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
  color: #cf4812;
}
body {
  font-family: "OpenSansLight";
  font-size: 60px;
  color: #cf4812;
}