body {
  background-color: #161616;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: chocolate;
}

.error, .error--serious {
  background-color: #c26b51;
  border: 1px solid #9c2400;
  margin: 10px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
}
.error--serious {
  border-width: 3px;
}