body {
    background-color: #17181C;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    height: 200vh;
}
#posicao {
    position: sticky;
    /* left: 100px; */
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.pulse {
    position: absolute;
    /* top: 100px;   */
    left: 300px;
    background: none;
    border: 2px solid;
    /* margin: 50px; */
    padding: 15px 40px;
    color: #ff760c;
    transition: 3s;
}
.pulse:hover, .pulse:focus {/* Agrupamento de seletores */
    color:darkgray;
    border-color: #ef8f6e;
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    animation: pulsar 1s;/* faz a chamada da animação e define tempo de execução */
}
/* configura a animação */
@keyframes pulsar {/* Poderia ser qualquer nome */
    0%{
        box-shadow: 0 0 0 0 #ef8f6e;
    }
}